{% extends "Base/base.html" %}

{% load static %}

{%block content %}

  <div style="margin: auto; text-align: center;">
    <br>
    <br>
    <h1 class="h3 mb-3 fw-normal" > <span style="color: #FF5F46;">&nbsp;&nbsp; Cargar Nuevo Contrato &nbsp;&nbsp; </span></h1>
  </div>

  <div class="row justify-content-center" style="border-width: 3px;">
    <form method="post" action="/cargar?conteo=" style="max-width: 700px; justify-content: center;" enctype="multipart/form-data">
        {% csrf_token %}

        {% if tabla %}<p style="text-align: center;color: rgb(234, 240, 234);font-size: large;margin: 10px auto;background-color: #023267; "> Información cargada correctamente</p> {% endif %}

        {% if mensaje %}<p style="text-align: center;color: rgb(234, 240, 234);font-size: large;margin: 10px auto;background-color: #023267; "> {{mensaje}}</p> {% endif %}

      <div class="form-floating">
        <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" required>
        <label for="floatingInput">{{form.nombre.label}}</label>
      </div>
      <br>
      <div class="form-floating">
        <input type="date" class="form-control" id="fecha" placeholder="Fecha" name="fecha" required>
        <label for="floatingInput">{{form.fecha.label}}</label>
      </div>

      <div class="mb-3">
        <p>Archivo</p>
        <label for="formFile" class="form-control" type="file">{{form.archivo}}</label>
      </div>

      <br>
      <input type="submit" value="Guardar" class="w-100 btn btn-lg btn-primary" style="background-color: #ff5f46; border-color: #ff5f46;">


    </form>
  
</div>

  <br>
<div class="row justify-content-center" style="margin: auto; max-width: 700px">
<a href="/comparar"> <button  class="w-100 btn btn-lg btn-primary" style="background-color: #ff5f46; border-color: #ff5f46; ">Comparar</button> </a>
</div>

<br>
<br>

{% if request.GET.conteo %}
<p style="text-align: center;color: rgb(234, 240, 234);font-size: large;margin: 10px auto;background-color: #023267; "> Se encontraron {{request.GET.conteo}} diferencias entre los dos últimos archivos cargados</p>
{% endif %}
{% if request.GET.contratos %}
<p style="text-align: center;color: rgb(234, 240, 234);font-size: large;margin: 10px auto;background-color: #023267; "> No se encontraron al menos dos contratos cargados</p>
{% endif %}

{% if tabla %}
<div class="row justify-content-center" style="margin:auto; max-width: 1000px">                                    
  <div id="info_cargada">
      <h4>Resultado del cargue</h4>
  </div>
  <br>
  <table id="tabla" class="table">
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Origen</th>
              <th>Destino</th>
              <th>Tarifa 20</th>
              <th>Tarifa 40</th>
              <th>Tarifa 40 HC</th>
              <th>Moneda</th>
          </tr>
      </thead>
      <tbody>
      {% for linea in tabla %}
      <tr>
        <td>{{linea.contract.nombre}}</td>
        <td>{{linea.contract.fecha}}</td>
        <td>{{linea.origin}}</td>
        <td>{{linea.destination}}</td>
        <td>{{linea.twenty}}</td>
        <td>{{linea.forty}}</td>
        <td>{{linea.fortyhc}}</td>
        <td>{{linea.currency}}</td>

    </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}

    



{% endblock %}