{% extends "Base/base.html" %}

{% load static %}

{%block content %}

  <div style="margin: auto; text-align: center;">
    <br>
    <br>
    <h1>Documentación</h1>

    <br>
    <br>


  </div>
  <div class="row">
    <div class="col-2" style="text-align: justify;">
      <h3 style="text-align: center;">Requerimientos</h3>
      <br>
      <ul>
          <li>  asgiref==3.5.0 </li>
          <li>  backports.zoneinfo==0.2.1 </li>
          <li>  Django==4.0.2 </li>
          <li>  et-xmlfile==1.1.0 </li>
          <li>  numpy==1.22.2 </li>
          <li>  openpyxl==3.0.9 </li>
          <li>  pandas==1.4.0 </li>
          <li>  python-dateutil==2.8.2 </li>
          <li>  pytz==2021.3 </li>
          <li>  six==1.16.0 </li>
          <li>  sqlparse==0.4.2 </li>
          <li>  tzdata==2021.5 </li>
          <br>
          <li>  css: bootstrap 5.0 </li>
          <br>
          <li>  base de datos: sqlite3 </li>
      </ul>
    </div>
    <div class="col-3" style="text-align: justify;">
      <h3 style="text-align: center;">Templates</h3>
      <br>
      <ul>
          <li>  base.html : Funciona como modelo para los demás archivos html, contiene el menu principal y el footer. </li>
          <li>  index.html : Pantalla principal que da la bienvenida a los usuarios. </li>
          <li>  cargar.html : Template principal contiene la posibilidad de cargar nuevos contratos a partir de archivos de excel con formato xlms, igualmente tiene la posiblidad de comparar los últimos dos archivos cargados y entregar la cantidad de diferencias entre las rutas.</li>
          <li>  documentacion.html: Es el template en donde te encuentras, podrás ver los detalles más relevantes de este aplicativo. </li>
      </ul>
    </div>
    <div class="col-4" style="text-align: justify;">
      <h3 style="text-align: center;">Validaciones</h3>
      <br>
      <ul>
          <li>  El formulario desde front contiene validación en los campos a ingresar, garantizando que todos se encuentren diligenciados. </li>
          <li>  <ul> Desde el backend, especificante en el archivo views.py se hace el resto de validaciones, las cuales se destacarán a continuación, en este apartado para la función de cargar. 
                <br>
                <br>
                <li>  Cuando se realiza el envía el formulario se verifica de que sea valido [Linea 18 views.py]</li>
                <li>  Se revisa la extensión del archivo, verificando que sea xlsx, correspondiendo a un archivo de excel. [Linea 24 views.py]</li>
                <li> Se verifica que el archivo cuente con las columnas necesarias para realizar la importación a las bases de datos. Si no las contiene arroja mensaje de error [Linea 27 views.py]</li>
                </ul></li>
          <li>  <ul> A continuación, se mencionarán las validaciones acordes a la función comparar.
              <br> 
              <br> 
              <li>  Se verifica que existan al menos dos contratos cargados para realizar la comparación [Linea 62 views.py]</li>
              <li>  Se recorre linea a linea cada archivo buscando las diferencias, cada vez que encuentra una la contabiliza para mostrar la cantidad total al final. [Linea 68 views.py]</li>
                </ul></li>
      </ul>
          
    </div>
    <div class="col-3">
      <h3 style="text-align: center;">Repositorio</h3>
      <br>
      <p><a href="https://bitbucket.org/analysico/cargofive/src/master/"> Ir al Repositorio</a></p>
      <p>Clonar: git clone https://AnalysiCo@bitbucket.org/analysico/cargofive.git</p>
      <p>Contacto: alejokio@gmail.com / proyectos@analysi.co / +573144674630</p>
          
    </div>
</div>
    



{% endblock %}