{% extends "Base/base.html" %}

{% load static %}

{%block content %}

  <div style="margin: auto; text-align: center;">
    <br>
    <br>
    <h1 style="font-weight: bold;">Bienvenidos</h1>
  </div>
  


{% endblock %}