<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(255, 255, 255); color:rgb(30, 54, 99) ; font-family: Montserrat-black; font-weight: bold;">
                <div class="container-fluid col-2">
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'img/logo.svg' %}" alt="" width="220px" class="d-inline-block align-text-top">
                    </a>

                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>

                  <div class="collapse navbar-collapse col-10 " id="navbarNav">
                    <ul class="navbar-nav justify-content-evenly ">
                      <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %} active {% endif %}" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link {% if request.path == '/cargar' %} active {% endif %}" href="/cargar">Cargar Contratos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {% if request.path == '/documentacion' %} active {% endif %}" href="/documentacion">Documentación</a>
                      </li>
                      
                    </ul>
                  </div>
                  
                
              </nav>

            {% block content %} {% endblock %}

                    <!-- Footer-->
            <footer class="py-5">
                <div class="container px-4 px-lg-5">
                  <div class="small text-center text-muted" style="color:rgb(30, 54, 99) ;">
                    Copyright &copy; 2022 - Alejandro Barbosa / CargoFive

                </div>
               
              </div>
                
            </footer>

</body>
</html>

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">